[color]
	ui = true

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = dart200@gmail.com
	smtpserverport = 587
[user]
	name = Nicholas Swenson
	email = dart200@gmail.com
[core]
	excludesfile = /home/dart200/.gitignore
	whitespace=indent-with-non-tab,trailing-space
	editor = vim
	preloadindex = true
[push]
	default = current
