Host daterahq
    User nks
    Port 2984
    Hostname gateway.daterainc.com
    LocalForward 3124 debian-cache:3142  
    LocalForward 9000 jenkins:8088
    # LocalForward 23001 rts10:23001
   
Host rts*
    User nks
    # ControlMaster auto
    # ControlPath ~/.ssh/master-%r@%h:%p
    # ControlPersist 1h
    ProxyCommand ssh -W %h:%p daterahq

Host bugs.daterainc.com
    User nks
    port 2984

Host kmo
    User nks
    ProxyCommand ssh -W %h:%p daterahq

Host openstack
    HostName 172.18.0.142
    User nks
    ProxyCommand ssh -W %h:%p daterahq

Host kelly
    Hostname unix.ucsc.edu
    User keyzhao
    #Password Zone-00end
    
